<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SVOE PROIZVODSTVO</title>
    <link rel="Icon" href="{{ url_for('static', filename='img/logo.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/price.css') }}">
</head>
<body>
<!-- Шапка -->
<header>
  <div class="logo">
      <img src="{{ url_for('static', filename='img/Frame169-1.svg') }}" alt="Logo">
  </div>
  <div class="hamburger-menu" onclick="toggleMenu()">☰</div>
  <nav class="nav-bar">
      <a href="/">Главная</a>
      <a href="about">О нас</a>
      <a href="price">Цены</a>
      <a href="news">Новости</a>
      <a href="#contact" class="contact-link">Связаться с нами</a>
  </nav>
</header>
<script>
  function toggleMenu() {
      const navBar = document.querySelector('.nav-bar');
      navBar.classList.toggle('active');
  }
</script>


<!-- Разовые услуги -->
<section class="pricing-section1">
    <h2 class="pricing-header">Разовые услуги Консультантов и Программистов</h2>
    <div class="price-grid">
        {% for service in single_services %}
        <div class="price-card">
            <h3>{{ service.name }}</h3>
            <div class="price-value">₸ {{ service.price }}</div>
            <div class="price-description">{{ service.description }}</div>
            <a href="/#contact" class="price-btn">Заказать!</a>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Услуги Консультантов и Программистов -->
<section class="pricing-section2">
    <h2 class="pricing-header">Услуги Консультантов и Программистов</h2>
    {% for package in monthly_services %}
    <div class="subsection-title">Пакет услуг "{{ package.name }}"</div>
    <table class="tariff-table">
        <thead>
            <tr>
                <th class="tariff-name">Услуги</th>
                <th class="tariff-period">1 месяц | {{ package.prices['1 месяц'] }}₸</th>
                <th class="tariff-period">6 месяцев | {{ package.prices['6 месяцев'] }}₸</th>
                <th class="tariff-period">12 месяцев | {{ package.prices['12 месяцев'] }}₸</th>
            </tr>
        </thead>
        <tbody>
            {% for desc in package.description %}
            <tr>
                <td class="tariff-features">{{ desc }}</td>
                {% if loop.first %}
                <td rowspan="{{ package.description|length }}" class="more-info">Узнать больше</td>
                <td rowspan="{{ package.description|length }}" class="more-info">Узнать больше</td>
                <td rowspan="{{ package.description|length }}" class="more-info">Узнать больше</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</section>

<div class="divider"></div>

<!-- Облако с тарифом "ВСЕ ПРОСТО" -->
<section class="pricing-section">
    <h2 class="pricing-header">Облако с тарифом «ВСЕ ПРОСТО» для Бухгалтерии, УТ, УНФ и ЖКХ</h2>
    <div class="period-prices">
        {% for period, price in vse_prosto.prices.items() %}
        <div class="period-card">
            <h4>{{ period }} <br> ₸ {{ price }}</h4>
            <div class="period-description">
                {% for item in vse_prosto.description %}
                {{ item }}<br>
                {% endfor %}
            </div>
            <a href="/#contact" class="price-btn">Заказать!</a>
        </div>
        {% endfor %}
    </div>
</section>

<div class="divider"></div>

<!-- Собрать свой тариф -->
<section class="pricing-section">
    <h2 class="pricing-header">Собрать свой тариф</h2>

    <div class="subsection-title">Облако с тарифом «Эконом» для ЖКХ</div>
    <div class="period-prices">
        {% for period, price in ekonom.prices.items() %}
        <div class="period-card">
            <h4>{{ period }}<br>₸ {{ price }}</h4>
            <div class="period-description">
                {% for item in ekonom.description %}
                {{ item }}<br>
                {% endfor %}
            </div>
            <a href="/#contact" class="price-btn">Заказать!</a>
        </div>
        {% endfor %}
    </div>

    <div class="subsection-title">Дополнительные опции</div>
    <table class="addons-table">
        <thead>
            <tr>
                <th>Услуга</th>
                <th>1 месяц</th>
                <th>6 месяцев</th>
                <th>12 месяцев</th>
            </tr>
        </thead>
        <tbody>
            {% for addon in addons %}
            <tr>
                <td class="addon-name">
                    {{ addon.name }}<br>
                    <span class="addon-desc">
                    {% for adesc in addon.description %}
                        {{ adesc }}<br>
                    {% endfor %}
                    </span>
                </td>
                <td>₸ {{ addon.prices['1 месяц'] }}</td>
                <td>₸ {{ addon.prices['6 месяцев'] }}</td>
                <td>₸ {{ addon.prices['12 месяцев'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<!-- Подвал -->
<footer>
    <div class="footer-left">
        <div class="logo">
          <img class="frame-169-1" src="{{ url_for('static', filename='img/Frame169-1.svg') }}" alt="Логотип">
        </div>
    </div>
    <div id="contact" class="contact-info">
        <p>Остались вопросы? Позвоните нам:</p>
        <p><a href="tel:+77007553871">+7 700 755 3871</a></p>
        <a href="https://www.instagram.com/sp_program_kz/">
          <img src="{{ url_for('static', filename='img/instagram-line.svg') }}" alt="Instagram Icon">sp_program_kz
        </a>
        <a href="https://wa.me/77007553871">
            <img src="{{ url_for('static', filename='img/whatsapp-line.svg') }}" alt="WhatsApp Icon" /> +7 700 755 3871
        </a>
    </div>
</footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.more-info');
        buttons.forEach(button => {
            button.addEventListener('click', function () {
                // Укажите полный URL или относительный путь до страницы
                window.location.href = '/#contact';
            });
        });
    });
</script>
</html>
