/* Гарантируем, что body и html занимают всю высоту */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column; /* Элементы располагаются вертикально */
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
/* Подвал */
footer {
  background-color: #212529;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; /* Отталкивает footer в самый низ */
}

footer .contact-info a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

footer .contact-info img {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}


/* Блок новостей */
.news-block {
  padding: 40px 20px;
  margin-top: 10%;
}

.news-block h2 {
  font-size: 2rem;
  color: #173d7a;
  margin-bottom: 10px;
  text-align: center;
}

.news-block p {
  text-align: center;
  margin-bottom: 30px;
  color: #555555;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.news-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-item h3 {
  color: #173d7a;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.news-item p {
  flex-grow: 1;
  color: #767676;
  margin-bottom: 10px;
}

.news-item span {
  font-size: 0.9rem;
  color: #9da7b0;
  text-align: right;
}

/* Мобильные стили */
@media (max-width: 768px) {
  /* Шапка: расположение элементов по вертикали и центрирование текста */
  header {
      header {
        background-color: #ffffff;
        color: #212529;
        padding: 15px 0;
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  }
  .news-block {
    padding: 40px 20px;
    margin-top: 20%;
  }
  footer {
    flex-direction: column; /* Размещение элементов в колонку */
    text-align: center; /* Центрирование текста */
}

.footer-links {
    margin-top: 10px;
}
}
section {
  padding-top: 15px !important;
}

/* Шапка */
header {
  background-color: #ffffff;
  color: #212529;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive Navigation */
@media (max-width: 768px) {
  header {
      padding: 10px;
  }
  .nav-bar {
      display: none;
  }
  .header-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .logo {
      margin-bottom: 10px;
  }
  .hamburger-menu {
      display: block;
      cursor: pointer;
      font-size: 24px;
  }
  .nav-bar.active {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
  }
  .nav-bar.active a {
      display: block;
      margin: 10px 0;
  }
}

/* Кнопка "Связаться с нами" */
.contact-link {
  margin-left: auto;
}

.logo img {
  width: 100%;
  max-width: 120px;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 15px;
  background-color: #180d5b;
  border: 1px solid #22417a;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s;
}
header a:hover {
  background-color: #22417a;
  color: #ffffff;
}
header a:active {
  background-color: #0098FF;
  color: white;
  border: 1px solid #ffffff;
}
/* Скрываем гамбургер на больших экранах и показываем меню */
.hamburger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
/* На мобильных разрешениях показываем гамбургер и скрываем навигацию по умолчанию */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    margin-right: 5%;
  }

  .nav-bar {
      display: none; /* Скрыто по умолчанию */
      flex-direction: column;
      background: #fff;
      position: absolute;
      top: 60px; /* Или сколько нужно ниже шапки */
      left: -15px; /* Сдвигаем меню на 15px влево */
      width: 100%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav-bar a {
      display: block;
      margin: 10px 0;
      color: #180d5b;
      background: none;
      border: none;
  }

  /* Когда будет активен класс active, показываем меню */
  .nav-bar.active {
      display: flex;
  }
  footer {
    flex-direction: column; /* Размещение элементов в колонку */
    text-align: center; /* Центрирование текста */
  }

  .footer-links {
    margin-top: 10px;
  }
}